# =========================
# ENTORNO VIRTUAL
# =========================
.venv/
venv/
env/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# PYINSTALLER
# =========================
build/
dist/

# =========================
# BACKUPS DEL SISTEMA
# =========================
backups/

# =========================
# BASES DE DATOS LOCALES
# =========================
# Descomenta si NO quieres subir la BD:
# *.db
# *.sqlite
# *.sqlite3

# =========================
# VARIABLES / SECRETOS
# =========================
.env
.env.*

# =========================
# LOGS
# =========================
*.log

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp